STOCK_DB_URL=jdbc:mysql://localhost:3306/STOCK_SERVICE?zeroDateTimeBehavior=convertToNull&useLegacyDatetimeCode=false&serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
STOCK_DB_USERNAME=root
STOCK_DB_PASSWORD=
STOCK_REDIS_HOST=localhost
STOCK_REDIS_PORT=6379
STOCK_DB_MAX_POOL_SIZE=8
STOCK_DB_CONNECTION_TIMEOUT=30000
STOCK_DB_MAX_LIFETIME=540000
STOCK_DB_KEEPALIVE_TIME=300000

# Dev remote example
# STOCK_DB_URL=jdbc:mysql://kimd0.iptime.org:23306/STOCK_SERVICE?zeroDateTimeBehavior=convertToNull&useLegacyDatetimeCode=false&serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
# STOCK_REDIS_HOST=kimd0.iptime.org
# STOCK_REDIS_PORT=26379

STOCK_BATCH_INTERNAL_TOKEN=
STOCK_BATCH_MARKET_DATA_PROVIDER=mock
STOCK_BATCH_EXECUTION_MODE=virtual-market-price
STOCK_BATCH_SETTLEMENT_CRON=0 40 15 * * MON-FRI
STOCK_BATCH_SETTLEMENT_ZONE=Asia/Seoul
STOCK_PRICE_CACHE_TTL_SECONDS=60

KIS_BASE_URL=https://openapi.koreainvestment.com:9443
KIS_APP_KEY=
KIS_APP_SECRET=
KIS_MARKET_DIV_CODE=J
