<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="stock-batch-service"/>

    <property name="LOG_DIR" value="${STOCK_BATCH_LOG_DIR:-logs/stock-batch-service}"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level ${APP_NAME} [%thread] %logger{48} trace=%X{traceId:-} span=%X{spanId:-} - %msg%n%wEx"/>
    <property name="MAX_FILE_SIZE" value="${STOCK_LOG_MAX_FILE_SIZE:-100MB}"/>
    <property name="APP_MAX_HISTORY" value="${STOCK_LOG_APP_MAX_HISTORY:-30}"/>
    <property name="ERROR_MAX_HISTORY" value="${STOCK_LOG_ERROR_MAX_HISTORY:-90}"/>
    <property name="TOTAL_SIZE_CAP" value="${STOCK_LOG_TOTAL_SIZE_CAP:-3GB}"/>

    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/warn.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${APP_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/error.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${ERROR_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="JOB_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/job.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${ERROR_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="DB_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/db.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${ERROR_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="LOCK_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/lock.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${ERROR_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker"
            level="ERROR"/>
    <logger name="org.springframework.jdbc" level="INFO">
        <appender-ref ref="DB_FILE"/>
    </logger>
    <logger name="org.hibernate.orm.jdbc.error" level="WARN">
        <appender-ref ref="DB_FILE"/>
    </logger>
    <logger name="com.zaxxer.hikari" level="INFO">
        <appender-ref ref="DB_FILE"/>
    </logger>
    <logger name="com.mysql.cj" level="INFO">
        <appender-ref ref="DB_FILE"/>
    </logger>
    <logger name="stock.batch.service.batch.common.support" level="INFO">
        <appender-ref ref="JOB_FILE"/>
    </logger>
    <logger name="stock.batch.service.scheduler" level="INFO">
        <appender-ref ref="JOB_FILE"/>
    </logger>
    <logger name="stock.batch.service.execution" level="INFO">
        <appender-ref ref="JOB_FILE"/>
    </logger>
    <logger name="stock.batch.service.automarket" level="INFO">
        <appender-ref ref="JOB_FILE"/>
    </logger>
    <logger name="stock.batch.service.marketclose" level="INFO">
        <appender-ref ref="JOB_FILE"/>
    </logger>
    <logger name="stock.batch.service.execution.lock" level="INFO">
        <appender-ref ref="LOCK_FILE"/>
    </logger>
    <logger name="stock.batch.service.automarket.lock" level="INFO">
        <appender-ref ref="LOCK_FILE"/>
    </logger>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!test">
        <root level="${STOCK_ROOT_LOG_LEVEL:-INFO}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>
</configuration>
